h4{
	text-align: center;
}

.adderror{
	text-align: center;
	color: red;
}

.addsuccess{
	text-align: center;
	color: green;	
}

.form-add input{
	text-align: center;
	display: list-item;
	margin: auto;
	margin-bottom: 10px;
	height: 30px;
}

.form-add button{
	text-align: center;
	display: list-item;
	margin: auto;
	margin-bottom: 10px;
	height: 30px;
}

.form-add button:hover{
	background-color: yellow;
	color: #FF6A0F;
}